.App {
  text-align: center;
}

.mainheader {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  font-family: system-ui;
  background-image: linear-gradient(to bottom, #e1f0fe , #f5faff);
  border-bottom: 1px solid #343f3e;
}

table {
  font-family: system-ui;
  border-collapse: collapse;
  width: 80%;
  align-self: center;
  margin: auto;
  color: #333333;
}

td, th {
  border: 1px solid #343f3e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-image: linear-gradient(to right, #e1f0fe , #f5faff);
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.columnHeader {
  text-align: left;
  padding: 12px;
  background-color: #d5e9fe;
  border: 1.5px solid #6b6765;
  cursor:pointer;
}

.chart {
  padding: 10px;
  align-content: center;
}

.navLink {
  padding: 20px;
  color: #0000EE;
}

.chartTitle {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: system-ui;
}

.instruction {
  padding: 10px;
  text-align: center;
  font-family: system-ui;
}

.filter {
  padding: 10px;
}

/**
#505a5b
#8f91a2
*/
